{% extends "./base_eval.html" %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<div class="row">
    <div class="col-md-4">
        {{ form.nombre|as_crispy_field }}
    </div>
    <div class="col-md-4">
        {{ form.apellido|as_crispy_field }}
    </div>
    <div class="col-md-4">
        {{ form.fechaNacimiento|as_crispy_field }}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        {{ form.rol|as_crispy_field }}
    </div>
    <div class="col-md-4">
        {{ form.user|as_crispy_field }}
    </div>
    <div class="col-md-4">
        <a href="{% url 'jurado_home' %}">
            <div class="info-box mb-3 bg-gray" style="width: 300px;">
                <span class="info-box-icon"><i class="fab fa-flipboard"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text" style="margin-top: 10px;"><h3>Ir al dashboard</h3></span>
                </div>
            </div>
        </a>
    </div>
</div>

{% endblock %}