{% extends "./base_prog.html" %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<div class="row">
    <div class="col-md-4">
        {{ form.nombre|as_crispy_field }}
    </div>
    <div class="col-md-4">
        {{ form.apellido|as_crispy_field }}
    </div>
    <div class="col-md-4">
        {{ form.email|as_crispy_field }}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        {{ form.rol|as_crispy_field }}
    </div>
    <div class="col-md-4">
        {{ form.user|as_crispy_field }}
    </div>
</div> <br>
<div class="row">
    <div style="margin-left: 41%;">
        <a href="{% url 'coord_home' %}" class="btn-lg btn-primary"><i class="fab fa-flipboard"></i>
            Volver al dashboard
        </a>
    </div>
</div>

{% endblock %}