{% extends "./base_prog.html" %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<!-- <p>
    {{ formset.errors }}
    {{ formset.non_form_errors }}
    {{ form.errors }}
    {{ formset.non_field_errors }}
</p> -->
<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-4">
            {{ form.nombre|as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ form.apellido|as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ form.fechaNacimiento|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            {{ form.rol|as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ form.user|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>
                Registrar
            </button>
        </div>
        <div class="col-md-4">
            <a href="{% url 'usuario_list' %}" class="btn btn-secondary btn-block btn-lg"><i class="fas fa-list"></i>
                Ir a lista de Usuarios
            </a>
        </div>
    </div>
    
</form>
{% endblock content %}