{% extends "./base_prog.html" %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<form action="" method="POST" autocomplete="off">
    {{ formset.errors }}
    {{ form.non_form_errors }}
    {{ form.errors }}
    {{ form.non_field_errors }}
    {% csrf_token %}
    <div class="row">
        <div class="col-md-4">
            <label>Nombre de Usuario</label>
            <input type="text" name="username" class="form-control" placeholder="Nombre de Usuario" required>
        </div>
        <div class="col-md-4">
            <label>Contraseña</label>
            <input type="password" name="password1" class="form-control" placeholder="Contraseña" required>
        </div>
        <div class="col-md-4">
            <label>Confirmar Contraseña</label>
            <input type="password" name="password2" class="form-control" placeholder="Contraseña" required>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-4">
            <label>Nombre</label>
            <input type="text" name="nombre" class="form-control" placeholder="Nombre" required>
        </div>
        <div class="col-md-4">
            <label>Apellido</label>
            <input type="text" name="apellido" class="form-control" placeholder="Apellido" required>
        </div>
        <div class="col-md-4">
            <label>Correo Académico</label>
            <input type="email" name="email" class="form-control" placeholder="Correo Electrónico" required>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-6">
            <label>Departamento</label>
            <input type="text" name="dept" class="form-control" placeholder="Departamento" required>
        </div>
        <div class="col-md-6">
            <label>Rol</label><br>
            <select id="rol" name="rol" required>
                <option value="">--Seleccione--</option>
                <option value="1">Coordinador/a</option>
                <option value="2">Jurado e Invitado</option>
              </select>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-8">
            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>
                Registrar
            </button>
        </div>
        <div class="col-md-4">
            <a href="{% url 'usuario_list' %}" class="btn btn-secondary btn-block btn-lg"><i class="fas fa-list"></i>
                Ir a lista de Usuarios
            </a>
        </div>
    </div>
    
</form>
{% endblock content %}