{% extends "./base_prog.html" %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<a href="{% url 'usuario_insert' %}" class="btn btn-outline-success">
    Agregar nuevo usuario
</a><br><br>
<table class="table table-bordered" id="datatable" style="background-color: white;">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo Académico</th>
            <th>Nombre de usuario</th>
            <th>Rol</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% if user_list %}
            {% for usuario in user_list %}
                <tr>
                    {% if usuario.eliminado == False %}
                        <td>{{usuario.nombre}}</td>
                        <td>{{usuario.apellido}}</td>
                        <td>{{usuario.email}}</td>
                        <td>{{usuario.user.username}}</td>
                        {% if usuario.rol == 1 %}
                            <td>Coordinador/a</td>
                        {% endif %}
                        {% if usuario.rol == 2 %}
                            <td>Jurado</td>
                        {% endif %}
                        <td align="center">
                            <a href="{% url 'usuario_update' usuario.id %}" class="btn btn-outline-success" title="Editar"><i class="fas fa-edit"></i></a>
                            <a href="{% url 'usuario_delete' usuario.id %}" class="btn btn-outline-danger" title="Eliminar"><i class="fas fa-trash"></i></a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6" align="center">No hay datos disponibles.</td>
            </tr>
        {% endif %}
    </tbody>
</table>
{% endblock content %}