{% extends './base_prog.html' %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<form action="" method="post" autocomplete="off">
    {{ formset.errors }}
    {{ form.non_form_errors }}
    {{ form.errors }}
    {{ form.non_field_errors }}
    {% csrf_token %}
    <div class="row">
        <div class="col-md-4">
            {{ form.nombre|as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ form.apellido|as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ form.matricula|as_crispy_field }}
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-4">
            {{ form.email|as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ form.numero_clase|as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ form.ciclo|as_crispy_field }}
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-6">
            {{ form.carrera|as_crispy_field }}
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-5">
            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>
                Registrar
            </button>
        </div>
        <div class="col-md-7">
            <a href="{% url 'estudiante_list' %}" class="btn btn-secondary btn-block btn-lg"><i class="fas fa-list"></i>
                Ir a lista de estudiantes
            </a>
        </div>
    </div>
    
</form>
{% endblock content %}