{% extends './base_prog.html' %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<form action="" method="POST" autocomplete="off">
    {{ formset.errors }}
    {{ form.non_form_errors }}
    {{ form.errors }}
    {{ form.non_field_errors }}
    {% csrf_token %}
    <div class="row">
        <div class="col-md-3">
            {{ form.nombre|as_crispy_field }}
        </div>
        <div class="col-md-3">
            {{ form.numero_clase|as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ form.clasificacion|as_crispy_field }}
        </div>
        <div class="col-md-2">
            <a href="{% url 'proyecto_clasif' %}" class="btn btn-secondary btn-block btn-lg" style="margin-top: 35px;">
                Añadir nueva clasificación
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ form.asesor|as_crispy_field }}
        </div>
        <div class="col-md-8">
            <label>Equipo de estudiantes</label>
            {{ form.equipo }}
            <!-- <select class="duallistbox" multiple="multiple" size="{{ estudiantes.count }}" name="equipo" title="dlbox">
                {% for est in estudiantes %}
                  <option value="{{ est.id }}">{{ est }} - {{ est.matricula }}</option>
                {% endfor %}
            </select> -->
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-5">
            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>
                Registrar
            </button>
        </div>
        <div class="col-md-7">
            <a href="{% url 'proyecto_list' %}" class="btn btn-secondary btn-block btn-lg"><i class="fas fa-list"></i>
                Ir a lista de proyectos
            </a>
        </div>
    </div>
</form>
{% endblock content %}