{% extends "./base_prog.html" %}
{% load crispy_forms_tags %}

{% block content %}

<br>
<a href="{% url 'coord_rub' %}" class="btn btn-outline-success">
    Agregar nueva rúbrica
</a>
<br><br>
<table class="table table-bordered" style="background-color: white;">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <th>Nombre</th>
            <th>Fecha de Creación</th>
            <th>Activa</th>
            <th>Valor indicador</th>
            <th>Grupos</th>
            <th style="width: 10%;">Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% if listar_rubrica %}
            {% for rubrica in listar_rubrica %}
                <tr>
                    {% if rubrica.eliminado == False %}
                        <td>{{rubrica.nombre}}</td>
                        <td>{{rubrica.fechaCreacion|date:"d-m-Y"}}</td>
                        <td>{{rubrica.activa}}</td>
                        <td>{{rubrica.valorIndicador}} puntos</td>
                        <td>
                            {% for grupo in grupos %}
                                {% if grupo.rubrica_id == rubrica.id %}
                                    {{ grupo.nombre }} ({{ grupo.peso }} puntos)
                                    <br>
                                    Ítems:
                                    <ul>
                                    {% for item in grupo.items.all %}
                                        <li>{{ item.titulo }}</li>
                                    {% endfor %}
                                    </ul>
                                    <hr>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td align="center">
                            <a href="{% url 'rubrica_update' rubrica.id %}" class="btn btn-outline-success"><i class="fas fa-edit"></i>
                                Editar
                            </a><hr>
                            <a href="{% url 'rubrica_delete' rubrica.id %}" class="btn btn-outline-danger"><i class="fas fa-trash"></i>
                                Eliminar
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="5" align="center">No hay datos disponibles.</td>
            </tr>
        {% endif %}
    </tbody>
</table>

{% endblock content %}