{% extends "./base_prog.html" %}
{% load crispy_forms_tags %}

{% block content %}

<h1 class="display-4">Listado de clasificaciones</h1>
<p class="lead font-italic">Proyecto de Ing. Software</p>
<hr class="my-4">
<p>
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
</p>
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Nombre</td>
            <td>
                <a href="{% url 'proyecto_clasif' %}" class="btn btn-outline-success">
                    Agregar nueva clasificación
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for clasif in listar_clasificacion %}
            <tr>
                {% if clasif.eliminado == False %}
                    <td>{{clasif.nombre}}</td>
                    <td>
                        <a href="{% url 'clasif_update' clasif.id %}" class="btn btn-outline-success"><i class="fas fa-edit"></i>
                            Editar
                        </a>
                        <a href="{% url 'clasif_delete' clasif.id %}" class="btn btn-outline-danger"><i class="fas fa-trash"></i>
                            Eliminar
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}