{% extends "./base_prog.html" %}
{% load crispy_forms_tags %}

{% block content %}

<br>
<a href="{% url 'proyecto_clasif' %}" class="btn btn-outline-success">
    Agregar nueva clasificación
</a><br><br>
<table class="table table-bordered" id="datatable" style="background-color: white;">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <th>Nombre</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% if listar_clasificacion %}
            {% for clasif in listar_clasificacion %}
                <tr>
                    {% if clasif.eliminado == False %}
                        <td>{{clasif.nombre}}</td>
                        <td align="center">
                            <a href="{% url 'clasif_update' clasif.id %}" class="btn btn-outline-success" title="Editar"><i class="fas fa-edit"></i></a>
                            <a href="{% url 'clasif_delete' clasif.id %}" class="btn btn-outline-danger" title="Eliminar"><i class="fas fa-trash"></i></a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="2" align="center">No hay datos disponibles.</td>
            </tr>
        {% endif %}
    </tbody>
</table>

{% endblock content %}