{% extends "./base_prog.html" %}
{% load crispy_forms_tags %}

{% block content %}

<br>
<a href="{% url 'coord_proyecto' %}" class="btn btn-outline-success">
    Agregar nuevo proyecto
</a>
<br><br>
<table class="table table-bordered" style="background-color: white;">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <th>Nombre</th>
            <th>Clasificación</th>
            <th>Asesor</th>
            <th>Equipo</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% if listar_proyecto %}
            {% for proyecto in listar_proyecto %}
                <tr>
                    {% if proyecto.eliminado == False %}
                        <td>{{proyecto.nombre}}</td>
                        <td>
                            <ul style="list-style-type:none;">
                            {% for clasif in proyecto.clasificacion.all %}
                                <li>{{ clasif }}</li>
                            {% endfor %}
                            </ul>
                        </td>
                        <td>{{proyecto.asesor}}</td>
                        <td>
                            <ul>
                            {% for integrante in proyecto.equipo.all %}
                                <li>{{ integrante }}</li>
                            {% endfor %}
                            </ul>
                        </td>
                        <td align="center">
                            <a href="{% url 'proyecto_update' proyecto.id %}" class="btn btn-outline-success"><i class="fas fa-edit"></i>
                                Editar
                            </a> | 
                            <a href="{% url 'proyecto_delete' proyecto.id %}" class="btn btn-outline-danger"><i class="fas fa-trash"></i>
                                Eliminar
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="5" align="center">No hay datos disponibles.</td>
            </tr>
        {% endif %}
    </tbody>
</table>

{% endblock content %}