{% extends "./base_prog.html" %}
{% load crispy_forms_tags %}

{% block content %}

<br>
<a href="{% url 'coord_estudiante' %}" class="btn btn-outline-success">
    Agregar nuevo estudiante
</a><br><br>
<table class="table table-bordered" style="background-color: white;">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha de Nacimiento</th>
            <th>Matrícula</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% if listar_estudiante %}
            {% for estud in listar_estudiante %}
                <tr>
                    {% if estud.eliminado == False %}
                        <td>{{estud.nombre}}</td>
                        <td>{{estud.apellido}}</td>
                        <td>{{estud.fechaNacimiento|date:"d-m-Y"}}</td>
                        <td>{{estud.matricula}}</td>
                        <td align="center">
                            <a href="{% url 'estudiante_update' estud.id %}" class="btn btn-outline-success"><i class="fas fa-edit"></i>
                                Editar
                            </a> | 
                            <a href="{% url 'estudiante_delete' estud.id %}" class="btn btn-outline-danger"><i class="fas fa-trash"></i>
                                Eliminar
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="5" align="center">No hay datos disponibles.</td>
            </tr>
        {% endif %}
    </tbody>
</table>

{% endblock content %}