{% extends "./base_prog.html" %}
{% load crispy_forms_tags %}

{% block content %}

<br>
<a href="{% url 'coord_rubitem' %}" class="btn btn-outline-success">
    Agregar nuevo indicador
</a><br><br>
<table class="table table-bordered" id="datatable" style="background-color: white;">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <th>Título</th>
            <th>Descripción</th>
            <th style="width: 20%;">Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% if listar_item %}
            {% for item in listar_item %}
                <tr>
                    {% if item.eliminado == False %}
                        <td>{{item.titulo}}</td>
                        <td>{{item.descripcion}}</td>
                        <td align="center">
                            <a href="{% url 'item_update' item.id %}" class="btn btn-outline-success" title="Editar"><i class="fas fa-edit"></i></a>
                            <a href="{% url 'item_delete' item.id %}" class="btn btn-outline-danger" title="Eliminar"><i class="fas fa-trash"></i></a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3" align="center">No hay datos disponibles.</td>
            </tr>
        {% endif %}
    </tbody>
</table>
{% endblock content %}