{% extends './base_prog.html' %}
{% load crispy_forms_tags %}

{% block content %}
<script>
    function hoy() {
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1;
        var yyyy = today.getFullYear();
        var hh = today.getHours();
        var minutes = today.getMinutes();
        if(dd<10){
                dd='0'+dd
            } 
        if(mm<10){
            mm='0'+mm
        } 
        if(hh<10){
            hh='0'+hh
        }
        if(minutes<10){
            minutes='0'+minutes
        }

        today = yyyy+'-'+mm+'-'+dd+'T'+hh+':'+minutes;
        document.getElementById("fecha").setAttribute("min", today);
        document.getElementById("fecha").setAttribute("value", today);
    }
    window.onload = hoy;
</script>

<h1 class="display-4">Programación de presentación de proyectos</h1>
<p class="lead font-italic">Proyecto de Ing. Software</p>
<hr class="my-4">
<p>
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
</p>
<form action="" method="POST" autocomplete="off">
    {{ formset.errors }}
    {{ form.non_form_errors }}
    {{ form.errors }}
    {{ form.non_field_errors }}
    {% csrf_token %}
    <div class="row">
        <div class="col-md-3">
            {{ form.fecha|as_crispy_field }}
        </div>
        <div class="col-md-1">
            {{ form.hora|as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ form.estado|as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ form.rubrica|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ form.jurado|as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ form.presidenteJurado|as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ form.proyecto|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>
                Registrar
            </button>
        </div>
        <div class="col-md-7">
            <a href="{% url 'prog_list' %}" class="btn btn-secondary btn-block btn-lg"><i class="fas fa-list"></i>
                Ir a lista de programaciones
            </a>
        </div>
    </div>
    
</form>
{% endblock content %}